extends layout

block content
    .wall.inWork
        .top
            include ./userlink.jade
            .logo #{boardname}
        .bottom
            .bottomcontent
                .menu
                .words
                    .filter
                        select
                            option Всё
                            option С переводом
                            option Без перевода
                    .newword
                        input(type="text" name="newword" placeholder="new word" id="newword")
                        input(type="button" value="add word" id="addword")
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/func.js')