extends layout

block content
    .wall.inWork
        .top
            include ./userlink.jade
            .logo #{boardname}
        .bottom
            .bottomcontent
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/Linguadesk.API.js')
    script(src='/javascripts/Linguadesk.WordList.js')
    script(src='/javascripts/Linguadesk.Word.js')
    script(src='/javascripts/Linguadesk.Filter.js')
    script(src='/javascripts/app.js')