extends layout

block content
    .wall.inWork
        .top
            include ./userlink.jade
            .logo #{boardname}
        .bottom
            .bottomcontent
                .menu
                .words
                    .word.newword
                        input(type="text" name="newword" placeholder="new word" id="newword")
                        input(type="button" value="add word" id="addword")
    script(src='/javascripts/func.js')